/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;500&display=swap');

/* common style r utilities */
body {
    font-family: 'Poppins', sans-serif;
}

.header-part {
    display: flex;
    color: white;
    margin: 20px auto;
    background-color: black;
    padding: 50px;
    border-radius: 20px;
    width: 992px;


}

.header-info {

    width: 550px;
    height: 424px;

    margin-left: 30px;
}

.watch-button {
    text-decoration: none;
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 16px;


}

.fa-greater-than {
    margin-left: 10px;
}

.header-banner-pic {


    margin-left: 24px;
}


.nav-bar {
    background-color: black;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.container {
    width: 50%;
    margin-left: 20px;
}

main {
    display: flex;

}

.live-server {

    padding: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
}

.upcoming a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 17px 39px;
    border-radius: 10px;
    border: 2px solid gray;

}

.upcoming {
    margin-bottom: 50px;

}

.groups a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 17px 79px;
    border-radius: 10px;
    border: 2px solid gray;
}

.group {
    margin-top: 50px;
}


.blog a {
    text-decoration: none;
    color: wheat;
    background-color: red;
    padding: 17px 103px;
    border-radius: 10px;
    border: 2px solid gray;
}

.blog {
    margin-top: 50px;
}

.players {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    width: 310px;
    height: 325px;
    border: 2px solid gray;
    border-radius: 12px;
}

.players-image a {
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 7px;

}

.transferred-link {
    margin-top: 3px;
    margin-left: 10px;
}

.transfer-details {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

footer {
    color: white;
    background-color: black;
    text-align: center;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

.list-class {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* --------mobile device---------- */

@media only screen and (max-width:577px) {
    .header-part {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .header-info {
        width: 50%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .live-server {
        width: 100%;
        height: 80%;
        background-color: white;

    }

    .players {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .list-class {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* ---------------tablet device -----------------*/

@media only screen and (min-width:577px) and (max-width:992px) {
    .header-part {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

    }

    .header-info {
        width: 50%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .live-server {
        width: 100%;
        height: 80%;
        background-color: white;

    }

    .players {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .list-class {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}